/*********************  OVERALL STYLE IS BELOW***************/


body {
background-color: #B4B1A6;
}


/************************** PICTURE STYLE   **************************/
.pictureWrapper {
	background-color: 
	border: solid black 3px;
}

.pictureWrapper img{
	width: 300px;
	height: auto;
	overflow: hidden;

}


.gallery {
    padding: 50px 0;
	background-color: #111111;
	color: white;
	border-bottom: 1px solid grey;
}

.gallery-item {
    margin-bottom: 15px;
}

.img-gallery {
    margin: 0 auto;
	max-width: 458px;
	max-height: 305px;
	width: 100%;
	height: auto;
   padding:1px;
   border:1px solid #021a40;
   background-color: #6390C6;
	-webkit-box-shadow: 0px 0px 57px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 57px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 57px -7px rgba(0,0,0,0.75);
}

.img-gallery:hover {
    opacity: 0.8;
}
/**********************************************  GAME STUFF ********/


.gamecontainer {
	background-color: #838178;
}

.gamerow {
	text-align: center;
	float: center;
}

.image-high:hover {
 border-radius: 55%;
 position:relative;
 top:0px;
 background:#FF2400;
 opacity:0.5;
}


/************************************* WEB JOURNAL ******************/

.journalEntry {
	background-color: #7DB1F0;
	border-radius: 40px;
	padding: 10px;
	margin-top: 20px;
}

.journalEntry a {
	color: #FFCB7A;
}

.journalEntry:hover {
	background-color: #0E6EE0;
	color: #FFBD55;

}
.journalEntry:hover a {
	color: #CD2400;
}

