/* As a rule of thumb, do not use words as a substitute for a color */

body {
	background-color: #D3D3D3;
}

#banner {
	padding-left: 10%;
	background-color: #FFFFFF;
}

.banner-fix {
 margin-right: 0;
}

#topnavbar {
    margin: 0;
    z-index: 1;
}

#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#site-title {
	color: #2765A0;
}

.pictureWrapper {
	background-color: grey;
	border: solid #000000 3px;
}

.pictureWrapper img{
	width: 300px;
	height: auto;
	overflow: hidden;
}

.gallery {
	background-color: #111111;
	color: white;
}

.gallery-item {
    margin-bottom: 15px;
}

.img-gallery {
	margin: 0 auto;
	max-width: 458px;
	max-height: 305px;
	width: 100%;
	height: auto;
	padding: 1px;
	border: 1px solid #000000;
}

.img-gallery:hover {
	opacity: 0.8;
}

.center-align {
	text-align: center;
}

.gamecontainer {
	background-color: #838178;
}

.gamerow {
	text-align: center;
	float: center;
}

.image-high:hover {
	border-radius: 55%;
	position:relative;
	top:0px;
	background:#FF2400;
	opacity:0.5;
}

.journalEntry {
	background-color: #7DB1F0;
	border-radius: 40px;
	padding: 10px;
	margin-top: 20px;
}

.journalEntry a {
	color: #FFCB7A;
}

.journalEntry:hover {
	background-color: #0E6EE0;
	color: #FFBD55;

}
.journalEntry:hover a {
	color: #CD2400;
}

